* {
    margin: 0;
    padding: 0;
}
.wrap {
    /* background-color: rgb(37, 36, 36); */
    width: 100%;
    height: 100%;
}

/* 메뉴 부분 스타일 */
nav {
    width: 100%;
}

.Menu {
    list-style-type: none;
    font-weight: bold;          /*글자 굵기 */
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0;
}

.Menu li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin: 0 auto;
}

.dropmenu {                     /*display none으로 드롭다운 메뉴 숨기기*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropmenu span a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropBox:hover .dropmenu{       /*드롭다운 메뉴 hover시 나타나게*/
    display: block;

}

.Menu li a:hover{
    color: rgb(21, 228, 131);
}

.content {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
/* 왼쪽사이드 내용 */
.sidecontent1 {
    order: 1;
    width : 20%;
    display: block;
    text-align: center;
    transform: skewY(5deg);
}
.sidecontent1 h1 {

}
.month_select li:first-child{
    padding-top: 10px;
}
.month_select li a{
    text-decoration: none;
    color: black;
}

/* 중앙 이미지  */
.mainimage {
    order: 2;
    width: 60%;
    height: 1000px;
}
.mainimage img {
    display: block;
    width: 60%;
    margin: 0 auto;
}

/* 오른쪽 사이드 내용 */
.sidecontent2 {
    order: 3;
    width: 20%;
    transform: skewY(-5deg);
}

