/* common */
body {
    background-image: url(../image/body_bg.png);
}
.wrap {
    background-color: antiquewhite;
    width: 80%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}
header {
    display: flex;
    justify-content: center;
}
.Head a {
    text-decoration: none;
    color: black;
}
.Head:hover {
    background-color: aliceblue;
}


/* 메뉴 부분 스타일 */
nav {
    width: 100%;
    position: relative;
}
.Menu {
    position: absolute;
    list-style-type: none;
    font-weight: bold;
    /*글자 굵기 */
    width: 80%;
    display: flex;
    right: 0;
    flex-flow: row nowrap;
    float: right;
}
.Menu li {
    border-radius: 1px solid #000;
}
.Menu li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin: 0 auto;
}
.Menu li a:hover {
    color: rgb(21, 228, 131);
}

/* content */
.content {
    display: flex;
    flex-flow: column;
    width: 40%;
}
/* 왼쪽 내용 부분 스타일 food */
.sub1 {
    display: flex;
    flex-flow: row nowrap;
    background-color: aliceblue;
    margin-top: 5%;
    height: 800px;
}
.gallary_section {
    display: flex;
    width: 50%;
}
.gallary_list {
    list-style-type: none;
}
.gallary_list img {
    margin: 10px;
    float: left;
    position: static;
    width: 30%;
}
.space {
    width: 5%;
    background-color: #fff;
}

/* adventure*/
.sub2 {
    display: flex;
    flex-flow: row nowrap;
    height: 800px;
}

/* nature */
.sub3 {
    display: flex;
    flex-flow: row nowrap;
    height: 800px;
    background-color: aliceblue;
}

/* healing */
.sub4 {
    display: flex;
    flex-flow: row nowrap;
    height: 800px;
}

/* 오른쪽 사이드 내용 */
.sidecontent1 {
    display: block;
    text-align: center;
}

.month_select li {
    float: left;
    list-style-type: none;
    margin-right: 50px;
}

.month_select li a {
    text-decoration: none;
    color: black;
}

/* 중앙 이미지  */

.mainimage {
    margin-left: 20px;
    order: 2;
    width: 80%;
}

.mainimage img {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.sidecontent2 {
    order: 3;
}
h1 {
    text-align: center;
}


/* 지역 표시 */
.leftarea, .rightarea {
    display: none;
}
.leftarea li {
    border-radius: 1px solid #000;
}