*{
    margin: 0;
    padding: 0;
}
/* 
body {
    background-image: url(../image/body_bg.png);
} */
.wrap {
    background-color: #171010;;
    width: 100%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.Head a {
    text-decoration: none;
    color: white;
}
.Head:hover {
    background-color: #423F3E;
}

/* content */
.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}


/* 왼쪽사이드 내용 */
.left_content {
    order: 1;
    display: flex;
    flex-flow: column;
    width: 20%;
    background-color: #423F3E;
    color: white;
}
.sidecontent1 {
    display: block;
    text-align: center;
    height: 400px;
}
.month_select li:first-child {
    padding-top: 10px;
}
.month_select li a {
    text-decoration: none;
    color: white;
}


/* 중앙 이미지  */

.mainimage {
    order: 2;
    width: 60%;
    height: 1000px;
    background-color: #423F3E;
    position: relative;
}

.mainimage img {
    display: block;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

.area {
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.red {
    position: absolute;
    top: 0;
}

#seoul {
    top: 50px;
    left: 300px;
}

#seoul_red{

}

#gyeonggi {
    top: 50px;
    left: 550px;
}

#gyeonggi_red {
    top: 450px;
    left: 520px;
}

#chungbuk{
    top: 50px;
}

#chungbuk_red{
    top: 530px;
    left: 570px;
}

#chungnam {
    top: 250px;
}

#chungnam_red{
    top: 540px;
    left: 530px;
}
#jeollanam {
    top: 450px;
}

#jeollanam_red {
    top: 450px;
}

#jeollabuk {
    top: 650px;
}

#jeollabuk_red {
    top: 650px;
}


/* 오른쪽 사이드 내용 */
.right_content {
    order: 3;
    display: flex;
    flex-flow: column;
    width: 20%;
    background-color: #423F3E;
    color: white;
}
.sidecontent2 {
    padding: 10px 5%;
    height: 400px;
}
