body {
    background-image: url(../image/body_bg.png);
}
.wrap {
    background-color: antiquewhite;
    width: 80%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.Head a {
    text-decoration: none;
    color: black;
}
.Head:hover {
    background-color: aliceblue;
}
.reg {
    display: flex;
    position: absolute;
    right: 15%;
}
.reg li {
    list-style-type: none;
    padding: 5px;
}
.reg li a {
    text-decoration: none;
    color: #000;
}

/* 메뉴 부분 스타일 */

nav {
    width: 100%;
}

.Menu {
    list-style-type: none;
    font-weight: bold;
    /*글자 굵기 */
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0;
}

.Menu li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin: 0 auto;
}

.dropmenu {
    /*display none으로 드롭다운 메뉴 숨기기*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropmenu span a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropBox:hover .dropmenu {
    /*드롭다운 메뉴 hover시 나타나게*/
    display: block;
}

.Menu li a:hover {
    color: rgb(21, 228, 131);
}

/* content */
.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}


/* 왼쪽사이드 내용 */
.left_content {
    order: 1;
    display: flex;
    flex-flow: column;
    width: 20%;
    background-color: aliceblue;
}
.sidecontent1 {
    display: block;
    text-align: center;
    transform: skewY(5deg);
    height: 400px;
}
.month_select li:first-child {
    padding-top: 10px;
}
.month_select li a {
    text-decoration: none;
    color: black;
}
.leftarea li {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 25px;
}
.leftarea li a {
    text-decoration: none;
    color: #000;
}
.leftarea li a:hover {
    color: rgb(21, 228, 131);
}

/* 중앙 이미지  */

.mainimage {
    order: 2;
    width: 60%;
    height: 1000px;
}

.mainimage img {
    display: block;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}


/* 오른쪽 사이드 내용 */
.right_content {
    order: 3;
    display: flex;
    flex-flow: column;
    width: 20%;
    background-color: aliceblue;
}
.sidecontent2 {
    transform: skewY(-5deg);
    padding: 10px 5%;
    height: 400px;
}
.rightarea li {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 25px;
}
.rightarea li a {
    text-decoration: none;
    color: #000;
}
.rightarea li a:hover {
    color: rgb(21, 228, 131);
}